#wrapper {
    width: 100%;
    height: 881px;
    overflow: hidden;
    float: right;
}

#mapContainer {
    width: 85%;
    float:left;
}

#map{
    width: 100%;
    height: 881px;
}

#sidebarWrapper{
    background-color: #343a40;
    width: 15%;
    height: 100%;
    overflow: hidden;
}

#sidebar {
    width: 15%;
    min-height: 75%;
    overflow: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
}

#colorSelection{
    color:darkgray;
    width: 100%;
    height: 15%;
    justify-content: center;
    position: relative;
    right: 0;
    text-align: center;
}

.color-picker{
    width: 50px;
    height: 50px;
}

.color-value {
    display: none;
}

#form {
    color: darkgray;
}

h2 {
    color: grey;
}

.marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #c30b82;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}

.custom-div-icon i {
    position: absolute;
    width: 22px;
    font-size: 22px;
    left: 0;
    right: 0;
    margin: 10px auto;
    text-align: center;
}

.custom-div-icon i.awesome {
    margin: 12px auto;
    font-size: 17px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

/* Modal Content/Box */
.modal-content {
    background-color: #343a40;
    margin: auto;
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 50%;
    /*overflow: scroll;*/
    /*z-index: 10000;*/
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#openColors{
    position: absolute;
    bottom: 0;
    right: 0;
}